body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

#user {
	float: right;
}

#todo {
	height: 30%;
	background-color: red;
	display: block;
}

#notes {
	height: 70%;
	background-color: cyan;
	display: block;
}